/* 
=========================================================================
RESET FORMAT
=========================================================================
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ==========================================
  GRID
  ==========================================
*/  

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.container,
.grid {
  margin:   0px auto;
  width: 960px; 
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}

/*
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/* 
=========================================================================
BACKGROUND
=========================================================================
*/

html, body {
  padding: 0;
  margin: 0;
}

/*html {
  background-image: url("RWB-tiedye.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
*/

/* 
================================================================
Transparent overlay
================================================================
*/

body {
  font-family: "Arial", sans-serif;
}

/* 
=========================================================================
HEADER
=========================================================================
*/

.header {
   position: relative;
   padding: 3%;
}

.header:before {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("RWB-tiedye.jpg"); 
    width: 100%;
    height: 100%;
    opacity : 0.2;
}

.logo{
  display: block;
  transform: rotate(-15deg);
  max-width: 23%;
  height: auto;
  border: solid #B01F00 6px;
  border-radius: 50%;
  padding-right: 1.5%;
  padding-bottom: .5%;
}


/* 
=========================================================================
NAVBAR
=========================================================================
*/

.brand {
  color: #B01F00 !important;
  font-family: URW Chancery L;
  font-style: italic;
  font-weight: bold;
  font-size: 150%;
}

.nav-link {
  font-size: 20px;
}

.nav-link:hover {
  color: black !important;
  cursor: pointer;
}

.navbar-toggler:hover {
  border-color: black;
  border-width: 2px;
  cursor: pointer;
}

/* 
=========================================================================
SPONSORS
=========================================================================
*/

.sponsors {
  padding: 1.5%;
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  background: skyblue;
}

/* 
=========================================================================
DETAILS
=========================================================================
*/

/*#about {

}*/

#about .purpose {
  padding: 3% 4% 3% 3%;
  background-color: #0432CE;
  color: ghostwhite;
  line-height: 1.8;
  font-size: 160%;
}

.purpose .first {
  font-size: 120%;

}

.purpose .popfest {
  font-size: 140%;
  margin-top: -20px;
}

#about .event-details {
  padding: 3%;
  line-height: 1.2;
  font-size: 130%;
  text-align: center;
  background-color: #E4E4E4;
}

.event-details .about-the {
  color: #B01F00;
  font-size: 275%;
}

.event-details .APF {
  color: #0432CE;
}

.event-details li {
  margin: 1.5%;
}

.event-details p {
  font-size: 120%;  
}

.event-details .artists {
  font-size: 120%;
}

/* 
=========================================================================
DONATE AND VOLUNTEER
=========================================================================
*/


#donate {
  background-color: #B01F00;
  padding: 4%;
}

.donate-box {
  text-align: center;
  color: ghostwhite;
  padding: 2%;
  border: 6px solid black;
  border-radius: 10px;
}

.donateToday {
  padding-bottom: 4%;
  font-size: 250%;
  font-weight: bold;
}

#paypal {
  padding: 1%;
}

#paypal:hover {
  border: 3px solid;
  border-radius: 10px;
  transform: scale(1.5, 1.5);
  background-color: #0432CE;
}

.proceeds {
  padding-top: 4%;
  font-size: 150%;
  font-style: italic;
}

#location {
  position: relative;
  padding: 3%;
}

#location:before {
  content : "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("BSP2.png"); 
  width: 100%;
  height: 100%;
  opacity : 0.3;
}

.location {  
  clear: both;
  text-align: center;
  font-size: 225%;
}

#map {
  height: 500px;
  width: 60%;
  margin: 2% auto 0% auto;
}  


#contact {
   position: relative;
   padding: 3%;
}

#contact:before {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("RWB-tiedye.jpg"); 
    width: 100%;
    height: 100%;
    opacity : 0.2;
}     

.sponsorships {
  padding: 0 10% 1% 5%;
  font-size: 150%;
  line-height: 1.4;
  text-align: center;
  color: #B01F00;
  font-weight: bold;
}

.sponsorships-link {
  font-size: 200%;
  color: #0432CE;
}

.sponsorships-link:hover {
  font-size: 225%;
  color: #B01F00;
}

.email-container {
  padding: 0 3% 0 3%;
  font-size: 175%;
  line-height: 1.4;
  text-align: center;
  color: #0432CE;
  font-weight: bold;
}

.email {
  color: #B01F00;
  font-size: 130%;
}

.footer {
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  font-size: 175%;
  color: ghostwhite;
  background-color: #0432CE;
}

.org {
  text-decoration: none;
  color: ghostwhite;
}

.org:hover {
  text-decoration: none;
  color: lightgrey;
}

/* Formatting for mobile */

@media (max-width: 767.98px) {
  body {
    font-size: 50%;
  }

  #main-logo .logo{
    max-width: 30%;
    border: solid #B01F00 3px;
  }

  .purpose .popfest {
    margin-top: -10px;
  }

  .event-details .about-the {
    font-size: 205%;
  }

  .event-details p {
    font-size: 115%;
  }

  .donate-box {
    clear: all;
    border: 0px solid black;
  }


  #paypal {
    transform: scale(.8, .8);
  }

  #paypal:hover {
    border: 2px solid;
    border-radius: 10px;
    transform: scale(1.15, 1.15);
  }

  .location {
    font-size: 200%;
  }

  #map {
    height: 200px;
  }

  .sponsorships {
    padding: 3% 7% 3% 7%;
  }

  .email-container {
    padding: 3%;
  }

  .footer {
    font-size: 11px;
  }
}









