/* 
=========================================================================
RESET FORMAT
=========================================================================
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ==========================================
  GRID
  ==========================================
*/  

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.container,
.grid {
  margin:   0px auto;
  width: 960px; 
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}

/*
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/* 
=========================================================================
BACKGROUND
=========================================================================
*/

html, body {
  padding: 0;
  margin: 0;
}

/*html {
  background-image: url("RWB-tiedye.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
*/

/* 
================================================================
Transparent overlay
================================================================
*/

body {
  font-family: "Vollcorn", serif;
}


/* 
=========================================================================
NAVBAR
=========================================================================
*/

.navbar {
  background-color: #3175D8 !important;
}

.nav-link {
  font-size: 170%;
  color: ghostwhite !important;
}

.nav-link:hover {
  color: #AEB7C6 !important;
  cursor: pointer;
}

.navbar-toggler {
  border-color: ghostwhite !important;
  border-width: 2px;
  cursor: pointer;
}

.donate {
  transform: scale(1.2, 1.2);
  color: ghostwhite;
  border: 3px solid ghostwhite;
  border-radius: 10px;
  margin: .5% 4% .5% 4%;
  padding: .5% 4% .5% 4%;
}

/* 
=========================================================================
HEADER
=========================================================================
*/

.header {
   position: relative;
   z-index: 1;
   padding: 3%;
   color: #B01F00;
   text-align: center;
   font-size: 270%;
}

.header p {
  padding-top: 2%;
}

.header:before {
    content : "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background-image: url("RWB-tiedye.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    width: 100%;
    height: 100%;
    opacity : 0.25;
}

.logo {
  display: block;
  transform: rotate(-15deg);
  max-width: 45%;
  height: auto;
}

/* 
=========================================================================
SPONSORS
=========================================================================
*/

/*.sponsors {
  padding: 1.5%;
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  background: skyblue;
}*/

/* 
=========================================================================
DETAILS
=========================================================================
*/

.initiallyHidden {
  display: none;
}

.title {
  padding: 6%;
  color: ghostwhite;
  font-size: 500%;
  text-align: center;
}

.title:hover {
  color: lightgrey;
}

.title.location-title:hover {
  color: grey;
}

.details {
  padding: 3%;
  line-height: 1.2;
  font-size: 250%;
  text-align: center;
  background-color: #E4E4E4;
}

.details a {
  color: #B01F00;
}

.event-title {
  background-color: #284A85;
}

.event-details .first-annual {
  font-size: 150%;
  color: #3175D8;
}

.event-details .APF {
  color: #B01F00;
}

.event-details li {
  margin: 1.5%;
}

.live-music-title {
  background-color: #9B281F;
}

.music-details li {
  margin: 1.5%;
}

.location-title {
  color: #284A85;
}

.location-details {
  position: relative;
  z-index: 1;
  padding: 3%;
  color: #B01F00;
  text-align: center;
  font-size: 300%;
}

.location-details:before {
  content : "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background-image: url("BSP2.png");
  background-size: cover;
  background-repeat: no-repeat;  
  width: 100%;
  height: 100%;
  opacity : 0.25;
}

#map {
  height: 500px;
  width: 60%;
  margin: 2% auto 2% auto;
} 

.footer {
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  font-size: 175%;
  color: ghostwhite;
  background-color: #3175D8;
}

.org {
  text-decoration: none;
  color: ghostwhite;
}

.org:hover {
  text-decoration: none;
  color: lightgrey;
}

/* Formatting for mobile */

@media (max-width: 767.98px) {
  body {
    font-size: 40%;
  }

  .nav-link {
    font-size: 300%;
  }

  .header {
    font-size: 225%;
  }

  .title {
    padding: 6.5%;
    font-size: 400%;
  }

  .donate {
    transform: scale(.75, .75);
    padding: 1%;
    margin: 0%;
  }

  #main-logo .logo{
    max-width: 80%;
  }

  #map {
    height: 200px;
  }

  .footer {
    font-size: 250%;
  }
}









